torch
transformers
peft
bitsandbytes
accelerate
langchain
langchain-groq
langchain-community
langgraph
streamlit
arxiv
semanticscholar
evaluate
rouge_score
bert_score
datasets
pandas
numpy
scipy
huggingface_hub
google-generativeai
jupyter
